html {
  height: 100%;
}

.wed-body {
  background-color: #272822;    
  display: flex;
  flex-direction: column; 
  min-height: 99%;  
  flex-wrap: wrap;
}

.wed-header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    position:relative;
    height: auto;
    background: dark;
    margin-right: 0.5em;
    z-index: 1001;
    padding: 0.4em;
}

.wed-header-logo {
    left:11px;
    position: absolute;
    top:10px;
}

.wed-header-links {
}

.wed-main {
  display: flex;
  flex: 1 0 auto;

}



#textareaConsole {
     min-width: 100%;
     max-width: 100%;
     min-height: 4em;
     max-height: 30vh;
     resize: vertical;
      background: black;
      color: yellow;
}

textarea {
    width:  100%;
    /*resize: none;*/
} 


.editor-action {
position: absolute  ;
top:  0.1em;
right: 1.5em;
z-index: 100;
}

.editor-action button {
  border:  none;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
}

.col {
  position: relative;
  flex: 1 0 auto;
  border: solid 1px lightgrey;
}

.nogrow {
    flex-grow: 0; 
}


.wed-templates {
  border:solid rgba(0, 0, 0, 0.164) 1px;
  background-color: #333;
  letter-spacing: 2px;
  font-family: "Playfair Display";
  flex: 0 0 10em;
  font-size: 0.75em;
  background: #cccccc;
}

.wed-preview {
 background: #FFF;
 border:  solid 1px black;
 overflow: hidden   ;
 padding: 1em;
 width: 98%;
 min-width: 97%;
 max-width: 97%;
}


.canhresize {
     resize: horizontal; 
     overflow: auto;
}

.canvresize {
     resize: vertical; 
     overflow: auto;
}

.wed-footer {
    color: white;
    padding: 0 2px;
}

.wed-footer  a:visited {
    color: lightseagreen;
}

div[data-lang] {
    background-color: black;
    color: aqua;
    padding: 3px;
    text-align: end;
    border: solid 1px white;
}